
@font-face {
        font-family:letra;
        font-size: larger;
        src: url(./Sydhartta.ttf);
       
    }
   
    header{
      top: 0;
      background-color:#a1cffb ;
        text-align: center;
        position: fixed;
        z-index: 1000;
        width: 100%;
        height: 70px;
        
    }
    footer{
        width: 100%;
         font-size: 20px;
         border: 8px solid gray;
          background-color: gray;
          color: aliceblue;
          position: fixed;
          z-index: 1000;
          bottom: 0;
          float: left;
      }
    .titulo{
       
        border: 8px solid #a1cffb;
        text-shadow: 0 2px black;
        color: white;
       
      
       
       
    }
    .titulo2{
        font-family: letra, 'Times New Roman', Times, serif;
        
    }
    button :hover{
        background-color: #a1cffb;
    }




